---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Tools and Technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12" name="simple-icons:react" />
    <Icon class="size-8 md:size-12" name="simple-icons:pandas" />
    <!-- numpy -->
    <Icon class="size-8 md:size-12" name="simple-icons:python" />
    <Icon class="size-8 md:size-12" name="simple-icons:pytorch" />
    <Icon class="size-8 md:size-12" name="simple-icons:git" />
    <Icon class="size-8 md:size-12" name="simple-icons:github" />
    <Icon class="size-8 md:size-12" name="simple-icons:ubuntu" />
    <Icon class="size-8 md:size-12" name="simple-icons:html5" />
    <Icon class="size-8 md:size-12" name="simple-icons:javascript" />
  </div>
</div>
